
@use "../util" as u;

:root {
    --clr-primary: #000000;
    --clr-primary-200: #242424;
    --clr-secondary: #FFFFFF;
    --clr-orange: #FF7A00;
    --text-primary: var(--clr-secondary);
    --text-secondary: var(--clr-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: auto;
    display: inline-block;
}

body {
    background-color: var(--clr-primary);
    color: var(--text-primary)
}

h1, h2, h3, h4, h5, h6, p {
    font-size: u.rem(16);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--text-primary);
    display: inline-block;
}

.list {
    list-style: none;
}