
@use "../util" as u;

:root {
    --body-background: #000000;
    --text-primary: #FFFFFF;
    --text-secondary: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: auto;
    display: inline-block;
}

body {
    background-color: var(--body-background);
    color: var(--text-primary)
}

h1, h2, h3, h4, h5, h6, p {
    font-size: u.rem(16);
    font-weight: 400;
}