
@use "../util" as u;

.footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: u.em(20);

    @include u.breakpoint-up(medium) {
        grid-template-columns: u.em(120) u.em(200) u.em(150) u.em(150);
        max-width: u.em(600);
        margin-inline: auto;
    }

    @include u.breakpoint-up(large) {
        max-width: u.em(800);
        column-gap: u.em(30);
        margin-left: u.em(50);
        row-gap: u.em(30);
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include u.breakpoint-up(medium) {
            margin-left: u.em(20);
        }

        &__text {
            margin-block: u.em(5);

            @include u.breakpoint-up(medium) {
                width: 100%;
            }
        }
    }

    &__icon {
        $size: 40;
        
        width: u.em($size);
        height: u.em($size);
        cursor: pointer;
    }

    &__title-section {
        align-items: flex-start;
        margin-left: u.em(20);

        @include u.breakpoint-up(medium) {
            grid-column: span 4;
        }
    }

    &__section-icon-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
        margin-inline: auto;
        margin-block: u.em(40);
        column-gap: u.em(20);
        justify-items: center;

        @include u.breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: u.em(20);
            margin-block: u.em(0);
        }

        @include u.breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__title {
        margin-bottom: u.em(4);
    }
}