@use "../util" as u;

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: u.em(30) u.em(30) u.em(30) u.em(20);

    &__nav-links {
        display: none;
        

        @include u.breakpoint-up(medium) {
            display: flex;
            gap: u.em(10);
            align-items: center;
        }
    }

    &__nav-link {
        font-size: u.fontSize(16, 5, 20);
    }

    &__title {
        @include u.breakpoint-up(medium) {
            margin-right: u.em(80);    
        }
    }

    &__nav-btn {
        @include u.breakpoint-up(medium) {
            display: none;
        }
    }
}