

@use "../util" as u;

.product-brands {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.em(90);
    margin-bottom: u.em(100);

    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image {
            width: u.em(300);
            margin-bottom: u.em(20);
        }

        &__heading {
            margin-bottom: u.em(10);
        }

        &__buy {
            font-size: u.fontSize(16, 12, 20);
        }
    }
}