
@use "../util" as u;

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.em(100);
    margin-bottom: u.em(100);
    padding-right: u.em(10);
    margin-top: u.em(25);

    @include u.breakpoint-up(medium) {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: u.em(20);
        column-gap: u.em(50);
        max-width: u.em(1000);
        margin-inline: auto;
        justify-items: center;
    }

    @include u.breakpoint-up(large) {
        grid-template-columns: repeat(3, 1fr);
        max-width: u.em(1500);
    }

    @include u.breakpoint-up(xlarge) {
        margin-top: u.em(100);
        margin-bottom: u.em(120);
        grid-template-columns: repeat(4, 1fr);
    }

    &__product {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include u.breakpoint-up(medium) {
            justify-content: space-between;
            width: fit-content;
        }
    
        &__heading {
            text-align: center;
            margin-bottom: u.em(10);
            font-size: u.fontSize(16, 18, 24);
        }

        &__price {
            font-size: u.fontSize(16, 16, 24);
            justify-self: stretch;
            padding-left: u.em(10);
        }

        &__lower-part {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: u.em(300);
            margin-inline: auto;
            row-gap: u.em(10);
            place-items: center;

            @include u.breakpoint-up(medium) {
                
            }
        }

        &__add-to-cart {
            font-size: u.fontSize(16, 12, 20);
            white-space: nowrap;
        }

        &__color-btn {
            $size: 20;

            width: u.em($size);
            height: u.em($size);
            border-radius: 50%;
        }

        &__image {
            width: var(--product-width-mobile);
            margin-bottom: u.em(30);
            margin-inline: auto;
        }

        &__size-input {
            background-color: black;
            border: 1px solid white;
            min-height: u.em(40);
            color: white;
            font-weight: 600;
            padding: u.em(5);
            font-size: u.rem(16);
            border-radius: u.em(5);
            overflow: hidden;
            outline: none;
            
        }

        &__color-btn-container {
            display: flex;
            gap: u.em(10);
        }
    }
}