

@use "../util" as u;

.product-brands {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.em(90);
    margin-bottom: u.em(100);

    @include u.breakpoint-up(medium) {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: u.em(20);
    }

    @include u.breakpoint-up(large) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include u.breakpoint-up(xlarge) {
        margin-top: u.em(100);
        margin-bottom: u.em(120);
        grid-template-columns: repeat(4, 1fr);
    }

    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;


        &__image {
            width: u.em(300);
            margin-bottom: u.em(20);
        }

        &__heading {
            margin-bottom: u.em(10);
        }

        &__buy {
            font-size: u.fontSize(16, 12, 20);
            margin-top: auto;
        }
    }
}