
@use "../util" as u;

%btn {
    border-radius: u.em(10);
    padding: u.em(9) u.em(18);
    width: fit-content;
    transition: background-color 300ms;
    border-width: u.em(2);
    border-style: solid;
    cursor: pointer;

    &:hover {
        box-shadow: u.em(0) u.em(0) u.em(10) u.em(1) white;
        transform: scale(1.01)
    }
}

%btn--black {
    @extend %btn;

    background-color: var(--text-secondary);
    border-color: var(--text-secondary);
    color: var(--text-primary);
}

%btn--orange {
    @extend %btn;

    background-color: var(--clr-orange);
    border-color: var(--clr-orange);
    color: var(--text-primary);
}

%btn--white {
    @extend %btn;

    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
    color: var(--text-secondary);
}

%btn--outline {
    @extend %btn;

    background: none;
}

.btn {
    @extend %btn;

    &--black {
        @extend %btn--black;

        &--outline {
            @extend %btn--black;
            @extend %btn--outline;

            color: var(--text-secondary);

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    &--orange {
        @extend %btn--orange;

        &:hover {
            @extend %btn--orange;
            @extend %btn--outline;
        }

        &--outline {
            @extend %btn--orange;
            @extend %btn--outline;

            color: var(--text-primary);
        }
    }

    &--white {
        @extend %btn--white;

        &--outline {
            @extend %btn--white;
            @extend %btn--outline;

            color: var(--text-primary);
        }
    }
}